/**
* @file  icon styles
* @date 2022-03-16
* @author xuejie.he
* @lastModify xuejie.he 2022-03-16
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
.icon_wrap {
    height: 1em;
    line-height: 1em;
    vertical-align: text-top;
}
